/* Make root elements take full height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Full-screen wrapper */
.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg,black);
  padding-top: 70px;
  color: white;
}

/* Container fills remaining space if needed */
.container-fluid {
  flex: 1;
}

/* Glowing neon text */
.neon-text {
  color:  #069e29;
}

/* Section Title Style */
.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #069e29;
  border-left: 4px solid #03b017;
  padding-left: 10px;
  margin-bottom: 20px;
}

/* Skills Badge Style */
.skill-badge {
  display: inline-block;
  margin: 4px;
  padding: 6px 12px;
  border-radius: 20px;
  background: linear-gradient(135deg,green);
  color: white;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(4, 202, 51, 0.6);
  transition: transform 0.3s;
}
.skill-badge:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(3, 146, 41, 0.8);
}

/* List Items for Projects */
.project-list li {
  margin-bottom: 8px;
}

/* CTA Button */
.project-btn {
   background: #111;
  border: 2px solid #222;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  color: #07c007;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.4s ease;
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.1);
}

.project-btn:hover {
  transform: scale(1.05);
  background: #0d1b2a;
  border-color: #00bfff;
  box-shadow: 0 0 25px #00bfff;
}

/* Animations */
.fade-in-left {
  animation: fadeInLeft 1s ease-in-out;
}
.fade-in-right {
  animation: fadeInRight 1s ease-in-out;
}
.slide-up {
  animation: slideUp 1s ease-in-out;
}


@keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-40px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes fadeInRight {
  from { opacity: 0; transform: translateX(40px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}
