
/* Global dark green background */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #898e8e);
  background-attachment: fixed;
  background-size: cover;
  color: #e0e0e0;
}